<% type_url = comment_type == :user ? user_comments_url(user_id) : goal_comments_url(goal_id) %>
<form action="<%= type_url %>" method="post">
<%= auth_token %>
<label for="comment_field">Comment
  <textarea name="comment[body]" id="comment_field"></textarea>
</label>

<input type="submit" value="Add Comment">
</form>