<% action_url = method == :login ? session_index_url : users_url %>
<% submit_text = method == :login ? "Login" : "Create Account" %>

<form action="<%= action_url %>" method="post">
  <%= auth_token %>
  <label for="username_field">Username
    <input type="text" name="user[username]" id="username_field">
  </label>
  
  <label for="password_field">Password
    <input type="password" name="user[password]" id="password_field">
  </label>

  <input type="submit" value="<%= submit_text %>">
</form>